body{
    background:#0b0f14;
    color:white;
    font-family: system-ui, sans-serif;
    margin:0; padding:0;
    text-align:center;
}

header{
    background:#111;
    padding:20px;
    font-size:22px;
    font-weight:600;
}

.container{
    margin-top:40px;
    width:350px;
    text-align:center;
    margin-inline:auto;
}

input,button{
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:5px;
}

button{
    background:gold;
    font-weight:700;
    cursor:pointer;
}

/*** ADMIN PAGE ***/
.admin-box{
    width:90%;
    margin:auto;
    padding-top:30px;
}
table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}
td,th{
    border-bottom:1px solid #444;
    padding:10px;
}
a{color:gold;}
