body{font-family:Arial;margin:0;background:#0e0e0e;color:#fff;text-align:center;}
header{padding:20px;background:#111;border-bottom:2px solid #444;}
.logo{height:60px}

.card{background:#fff;color:#000;padding:25px;width:350px;margin:auto;margin-top:90px;border-radius:10px;}

h2{color:#ffd34e;margin-top:40px;}
form,input,select,textarea{width:80%;margin:8px;padding:10px;border-radius:6px;border:none;}
button{padding:10px 20px;background:#ffd34e;border:none;border-radius:6px;cursor:pointer;font-weight:bold;}
button:hover{opacity:0.8;}

.admin table{width:95%;margin:auto;margin-top:30px;border-collapse:collapse;}
.admin th,.admin td{padding:12px;border-bottom:1px solid #333;}
a{color:#ffd34e;text-decoration:none;font-weight:bold}
